# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Environment
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea
.DS_Store

# Misc
*.tsbuildinfo
next-env.d.ts.bak
